<ion-view view-title="Grocery">
  <ion-content padding>
   
    <!-- List of Sliding Items -->
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <h2>Almond Milk</h2>
      <p>1</p>
    </ion-item>
    <ion-item-options>
      <button ion-button color="secondary" icon-start>
        <ion-icon name="trash"></ion-icon>
        Done
      </button>
      <ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

    <ion-item>
      <h2>Cheese</h2>
      <p>2</p>
    </ion-item>
    <ion-item-options>
      <button ion-button color="secondary" icon-start>
        <ion-icon name="trash"></ion-icon>
        Done
      </button>
     <ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

    <ion-item>
    <h2>Bread</h2>
    <p>3</p>
  </ion-item>
  <ion-item-options>
    <button ion-button color="secondary" icon-start>
      <ion-icon name="trash"></ion-icon>
      Done
    </button>
    <ion-item-option>
  </ion-item-options>
 </ion-item-sliding>
</ion-list>



  <!-- this fab is placed at bottom right -->
  <ion-fab bottom right >
    <button ion-fab>Share</button>
    <ion-fab-list side="top">
      <button ion-fab>Facebook</button>
      <button ion-fab>Twitter</button>
      <button ion-fab>Youtube</button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab>Vimeo</button>
    </ion-fab-list>
  </ion-fab>


</ion-content>


</ion-view>



